*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
  
.hide-logo-h1{
    visibility: hidden; 
    width: 0; 
    height: 0;
}

.home{
    background: lightgreen;
}

.feature-card-img{
    img{
        width: 150px;
    }
}