@media(max-width: 1150px){  
    section.home{

        header{
            padding: 32px;
        }

        article.home-content{
            
            padding: 0 32px;
            
            div.home-content-left{

                div.text-content{
                    
                    max-width: 100%;

                    h2{
                        font-size: 40px;
                        width: 90%;
                    }
    
                    p{
                        font-size: 22px;
                        width: 80%;
                    }
    
                    a{
                        font-size: 15px;
                    }
                }

            }

            div.home-content-right{
                img{
                  width: 500px;
                }
            }
        }
    }
    
    section.features{
        div.subtitle-container{
            h2{
                font-size: 28px;
            }
        }

        div.feature-cards{
            margin-top: 45px;
        }
    
        div.feature-cards{

            margin: 0 0 32px 0;

            article{
                div.feature-card-img{
                    img{
                        width: 248px;
                        height: 248px;
                    }
                }
    
                div.text-container{
                    h3{
                        font-size: 19px;
                    }
    
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    
    section.prices{
        article.prices{
            div.subtitle-container{
                h2{
                    font-size: 28px;
                }
            }

            div.content-container{

                margin-top: 40px;
    
                div.small{
                    div.subtitle-container{
                        h2{
                            font-size: 34px;
                        }
                    }
                    div.paragraph-container{
                        p{
                            width: 100%;
                        }
                    }
                    div.button-container{
                        a{
                            padding: 8px 56px;

                            img{
                                width: 55%;
                            }
                        }
    
                    }
                }
            }
        }
    }
    
    section.videos{
        padding: 0 32px;

        article.demo-video{
            div.subtitle-container{
                h2{
                    font-size: 28px;
                }
            }
        }
    }

    div.getting-started{
    
        padding: 0 32px 0 32px;
    
        div.subtitle-container{
            h2{
                font-size: 28px;
            }
        }
    
        div.content{    
            div.content-right{

                padding-left: 16px;
    
                h3{
                    font-size: 19px;
                }
    
                span{
                    font-size: 15px;
                }
                
                div.link-container{
                    a{
                        font-size: 15px;
                    }
                }
            }
        }
    }

    section.contact{
        padding: 128px 64px;
    
        div.contact-content{
            article.faq{    
                flex: .48;
                div.dropdown{
                    div.row{    
                        header{
                            h4{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            article.contact-form{
                flex: .48;
            }
        }
    }

    footer{
        padding: 32px;
    }
}