<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Zabbix Reports</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>

<body>
    <section class="home">
        <header>
            <div class="logo">
                <h1 class="hide-logo-h1">Zabbix Reports</h1>
                <img importance="high" src="/images/zabbix-logo.svg" alt="Zabbix Reports Logo" />
            </div>
            <nav role="navigation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Prices</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Start Now</a></li>
                </ul>
            </nav>
        </header>
        <article class="home-content">
            <div class="home-content-left">
                <h2>Get reports quickly and easily</h2>
                <p>With <strong>Zabbix Reports</strong> you can generate data reports from the best data analysis platforms!</p>
                <a href="#">Try it now</a>
            </div>
            <div class="home-content-left">
                <img src="/images/home-illustration.svg" alt="minimalistic work illustration" />
            </div>
        </article>
    </section>
    <section class="features-container">
        <div class="subtitle-container">
            <h2>Zabbix Reports is amazing</h2>
        </div>
        <div class="feature-cards-container">
            <article class="feature-card">
                <div class="feature-card-img">
                    <img src="/images/home-illustration.svg" alt="minimalistic work illustration" />
                </div>
                <div class="text-container">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis erat in molestie faucibus</p>
                </div>
            </article>
            <article class="feature-card">
                <div class="feature-card-img">
                    <img src="/images/home-illustration.svg" alt="minimalistic work illustration" />
                </div>
                <div class="text-container">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis erat in molestie faucibus</p>
                </div>
            </article>
            <article class="feature-card">
                <div class="feature-card-img">
                    <img src="/images/home-illustration.svg" alt="minimalistic work illustration" />
                </div>
                <div class="text-container">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis erat in molestie faucibus</p>
                </div>
            </article>
        </div>
    </section>
    <section class="prices">
        <article class="price-card">
            PRICE CARD
        </article>
    </section>
    <section class="video-tutorial">
        <video src="#"></video>
    </section>
    <section class="getting-started">

    </section>
</body>

</html>