<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Zabbix Reports</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>

<body>
    <section class="home">
        <header>
            <div class="logo">
                <h1 class="hide-logo-h1">Zabbix Reports</h1>
                <img importance="high" src="/images/zabbix-logo.svg" alt="Zabbix Reports Logo" />
            </div>
            <nav role="navigation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Prices</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Start Now</a></li>
                </ul>
            </nav>
        </header>
        <article class="home-content">
            <div class="home-content-left">
                <h2>Get reports quickly and easily</h2>
                <p>With <strong>Zabbix Reports</strong> you can generate data reports from the best data analysis platforms!</p>
                <button>Tru it now</button>
            </div>
            <div class="home-content-left">
                <img src="/images/home-illustration.svg" alt="minimalistic work illustration" />
            </div>
        </article>
    </section>
</body>

</html>