@media(max-width: 516px){
    section.home{
        header{
            padding: 32px;

            nav{
                display: none;
            }
        }

        article.home-content{
            
            padding: 0 16px;
            
            div.home-content-left{
                div.text-content{
                    h2{
                        font-size: 45px;
                        text-align: center;
                    }
                    
                    p{
                        font-size: 24px;
                        text-align: center;
                        padding-bottom: 16px;
                    }
    
                    a{
                        padding: 16px 64px;
                        border-radius: 25px;
                    }
                }
            }
        }
    }
    
    section.features{
        div.subtitle-container{
            br{
                display: block;
            }
            h2{
                font-size: 28px;
            }
        }

        div.feature-cards{
            margin: -64px 0 0 0;
            
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            padding: 32px 0;
        }
    
        div.feature-cards{
            article{
                div.feature-card-img{
                    
                    margin-top: 16px;

                    img{
                        width: 285px;
                        height: 285px;
                    }
                }
    
                div.text-container{
                    
                    margin-top: 8px;
                    
                    h3{
                        font-size: 22px;
                    }
    
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    
    section.prices{
        
        padding: 0 8px;

        article.prices{
            div.subtitle-container{
                h2{
                    font-size: 26px;
                    margin: 32px 0;
                    text-align: center;
    
                    span{
                        opacity: 1 !important;
                    }
                }
            }
    
            div.content-container{
                div.big{
                    flex-direction: column;
                    width: 80%;
                    margin-top: 32px;

                    div.price-card{
                        width: 100%;
                        margin-bottom: 8px !important;
                        padding-bottom: 248px;

                        &::before{
                            display: none;
                        }
                    }
                }

                div.small{
                    div.subtitle-container{
                        margin-bottom: 8px;
                        h2{
                            font-size: 23px;
                            text-align: center;
                        }
                    }
                    div.button-container{
                        margin-top: 16px;
                        a{
                            padding: 10px 100px;
                            img{
                                width: 35%;
                            }
                        }
    
                    }
                }
            }
        }
    }

    section.videos{
        article.demo-video{            
            div.subtitle-container{
                br{
                    display: none;
                }
            }

            div.video-container{
                video{
                    transform: scale(1.15);
                }
            }
        }
    }
    
    div.getting-started{
    
        padding: 0 32px 0 32px;
    
        div.subtitle-container{
            h2{
                font-size: 26px;
                margin: 32px 0;
            }
        }
        
        div.content{   
            
            height: 388px;
            flex-direction: column-reverse;

            div.content-left{
                flex: 1;
                height: 388px;
    
                img{
                    max-width: 270px;
                }
            }

            div.content-right{
                
                text-align: center;
                
                flex: 1;
                width: 100%;
                padding: 0;
    
                h3{
                    font-size: 19px;
                }
    
                span{
                    font-size: 15px;
                }
                
                div.link-container{
                    a{
                        padding: 12px 64px;
                        border-radius: 25px;
                    }
                }
            }
        }
    }

    section.contact{
        padding: 32px 16px;
    
        div.contact-content{
            article.faq{

                h2{
                    font-size: 28px;
                }

                div.dropdown{
                    div.row{    
                        header{
                            h4{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            
            article.contact-form{

                h2{
                    font-size: 28px;
                }

                h3{
                    font-size: 20px;
                    margin: 0;
                }

                form{

                    display: grid;
                    gap: 8px;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;

                    input[name="email"]{
                        grid-row-start: 2;
                    }

                    textarea{
                        grid-column: span 1;
                        grid-row-start: 3;
                    }
                }
            }
        }
    }

    footer{        
        div.footer-content{            
            div.right{
                img{
                    width: 140px;
                }
            }
        }
    }
}